<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /crudci/   # Ajusta esto según la estructura de tu URL base

    # Remueve el index.php de la URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
